body {
  background-color: #000;
}

.container {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  display: flex;
  place-items: center;
  align-items: center;
  justify-content: center;
  color: rgba(255, 255, 255, 0.87);
}
.card {
  margin-top: 6vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width:  65vh;
  height: 85vh;
  border-radius: 15px;
  background: #474747;
  box-shadow: 15px 15px 16px rgb(25, 25, 25),
            
 }
 
.image {
  width: 23vh;
  height: 23vh;
  border-radius: 15vh;
  margin-top: 2vh;
}

 .title {
  font-weight: bold;
  font-size: 4vh;
  margin-bottom: 0;
 }
 
 .description {
  font-size: 2vh;
  margin-top: 0;
 }

 .location {
  font-size: 2.5vh;
  color: rgb(157, 213, 45);
  font-weight: bold;
  margin-top: 0;
 }

 .button-section{
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  gap: 1.5vh;
 }


  button {
  width: 55vh;
  height: 5.6vh;
  background-color: #3b3b3b;
  color: #fff;
  border-radius: 10px;
  border: 0;
  font-size: 2vh;
 }

 a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
 }